.topSideMenu__wrapper {
  display: flex;
  gap: 30px;

  .topSideMenu__socials {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.6;
  }

  .topSideMenu__menu {
    opacity: 0.6;
  }
}