@import "../../styles/base.scss";
$width: 400px;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .wrapper {
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .popup__img {
      width: 100%;
    }
  
    .popup__close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 36px;
      cursor: pointer;

      .popup__close-btn {
        border-radius: 50%;
        width: max-content;
        height: max-content;
        opacity: 0.75;
        color: rebeccapurple;

        &:hover {
          opacity: 1;
          box-shadow: inset 0 0 50px rgb(147, 98, 142), 0 0 50px;
        }
      }
    }
  }
}