@import "base.scss";

html,
body {
    margin: 0;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $main-white;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

@import url("../assets/fonts/font.scss");

// APP
@import url("../App.scss");

// LAYOUT
@import url("../components/Layout/Layout.scss");

// HEADER
@import url("../components/Header/header.scss");

// TOPMENU
@import url("../components/Header/TopMenu/TopMenu.scss");

// TOPSIDEMENU
@import url("../components/Header/TopSideMenu/TopSideMenu.scss");

// CAROUSEL
@import url("../components/Carousel/Carousel.scss");

// CONTROLS
@import url("../components/Carousel/Controls/Controls.scss");

// SLIDES
@import url("../components/Carousel/Slides/Slides.scss");

// SLIDE
@import url("../components/Carousel/Slide/Slide.scss");

// PLAYBUTTON
@import url("../components/Carousel/PlayButton/PlayButton.scss");

// POPUP
@import url("../components/Popup/Popup.scss");

// ADMIN
@import url("../components/Admin/Admin.scss");